[submodule ".src/onedr0p-home-ops"]
	path = .src/onedr0p-home-ops
	url = https://github.com/onedr0p/home-ops
[submodule ".src/bjw-s-labs-home-ops"]
	path = .src/bjw-s-labs-home-ops
	url = https://github.com/bjw-s-labs/home-ops
